@charset "UTF-8";
/* NAVIGATION */
.navbar {
	background-color: #5B7213;
}

.navbar-brand {
	color: white;
}

.nav-link {
	color: white;
}




/* BODY STYLES */

 .homeBody {
background-image: url('../images/signInBackground.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Karla', sans-serif;
 }

.footer {
	height: 4em;
	background-color: #5B7213;
	left: 0;
	bottom: 0; 
	width: 100%;
}

.footer-copyright {
	color: white;
}		


/* BUTTON AND LINK STYLES */
.btn{
color: white;
background-color: #022601;
width: 7em;
}

.btn-secondary {
	width: 9em
}

.btn:hover{
color: gray;
background-color: #022601;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}


/* HOMEPAGE COLUMN AND ROW STYLES */

h1 {
	padding-top: 2em;
	padding-bottom: .8em;
	font-family: 'Rubik', sans-serif;
}

h5 {
	padding-bottom: 1em;
	font-family: 'Karla', sans-serif;
}

.moreinfo {
	background-color: whitesmoke;
}
.moreinfo p{
	color: black;
}


#moreinfo {
	padding-top: 3em;
	padding-bottom: 3em;
}

.fullsize{
padding-bottom: 10em}

.card{
height: 22em;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: #5B7213 !important;
}


.card-header h3{
color: white;
}
.card-header a{
color: white;
}
.card-header p{
color: white;
}


.input-group-prepend span{
width: 50px;
background-color: #022601;
color: white;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}